@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans&display=swap');


body{
  font-size: 16px;
  background: white;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}


.App {
  text-align: center;
}



.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top:4em;
}
.heading-background{
  position: fixed;
  opacity: 0.05;
  font-size: 25em;
  left:-0.2em;
  top:-0.5em;
  z-index: -100;
  color:#9352ae;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header h1{
font-size: 1em;
font-weight: 400;  
padding: 2em;
margin-right: 50em;
}
nav{
  position:fixed;
  left:60em;
  top:6em;
z-index: 100;
}
nav li{
  display: inline-block;
  cursor: pointer;

}
nav li .link{
  text-decoration: none;
  color: black;
  padding:1em;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
li .link:hover{
  opacity: 1;
}
.active{
  color:black;
  opacity: 1;
}

.header-title button{
  background: black;
  border: 0px;
  padding: 1em 3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.header-title button:hover{
  opacity: 0.8;
}
.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}
.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  text-align: left;
  top:2em;
}
.about{
  display: flex;
  flex-direction: row;
}
.about-content{
  position: relative;
  left:15em;
}
.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p{
  font-size: 1.3em;
  text-align: left;
  width: 37em;
  color: rgb(0, 0, 0);
}

.about img {
  max-width: 30%; /* Set the maximum width of the image to 100% of its container */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  display: block; /* Ensure the image behaves as a block element */
  margin: 0 auto; /* Center the image horizontally */
  /* Add any additional styles as needed */
}


/* Add styles for Interests component */
.interests {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

.interests-content {
  position: relative;
  left: 15em;
}

.interests-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: left;
}

.interests-content ul {
  list-style-type: none;
  padding: 0;
}

.interests-content ul li {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  padding-left: 1.5em;
  text-align: left; /* Align text to the left */
  text-indent: -1.5rem;
}

.interests-content ul li:before {
  content: '•';
  color: #9352ae;
  font-size: 1.2em;
  margin-right: 0.5em;
  position: absolute;
  left: 0;
}

/* Add styles for additional interests list */
.additional-interests-list {
  list-style-type: disc; /* Use disc as bullet points */
  margin-left: 20px; /* Indent the list */
}

.additional-interests-list li {
  margin-bottom: 8px; /* Adjust spacing between items */
}

.skills-container {
  margin-top: 50px; /* Adjust margin as needed */
  text-align: left; /* Align text to the left */
}

.section-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #000000;
  text-align: left; /* Use the same font size as the Interests section */
  color: #333; /* Use the same color as the rest of the text */
 /* Add margin-bottom to match the spacing */
}

.skills-bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-bubble {
  padding: 10px;
  margin: 01px; /* Reduce margin for closer clustering */
  width: 50px; /* Set a fixed width for each bubble */
  height: 50px; /* Set a fixed height for each bubble */
  border-radius: 50%;
  background: linear-gradient(to bottom right, #9352ae, #3b5998);
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em; /* Adjust font size as needed */
  transition: transform 0.3s ease-in-out;
}

.skill-bubble:hover {
  transform: scale(1.1);
}


/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e1e;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.2em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: rgb(0, 0, 0);
    text-transform: unset;
}

.tagcloud--item:hover {
    color: #9352ae;
}

        
        
.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left:15em;
  top:8em;
  align-items: flex-start;
}
.work .heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em;
}

.project img{
width: 30em;  
height: 30em;
}
.contact{
  position: relative;
  top:20em;
  left:15em;
  text-align: left;
}
.contact h1{
    font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color{
  color:#9352ae;
  opacity: 1;
}

.contact .email{
  color:black;
  font-size: 2em;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:black;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:#2c59fb;
}


/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){

  body{
    font-size: 6px;
  }
  header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

.heading-background{
  display: none;
}
nav{
  display: none;
}
.header-title{
  font-size: 3em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-30em;
}
.about img{
  display: none
}
.about-content{
  left:2em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 300px;
}

.work{
  left:2em;
  top:2em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5em;
}
.project img{
width: 45em;  
height: 45em;
}

.contact{
  top:15em;
  left:2em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {


body{
    font-size: 10px;
  }
header h1{
font-size: 5em;  
padding: 1em;
margin-right: 0em;
}

nav{
  display: none;
}
.header-title{
  font-size: 3.6em;
  text-align: left;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-10em;
}
.about img{
  display: none
}
.about-content{
  left:6em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 700px;
}

.work{
  left:6em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5em;
}
.project img{
width: 30em;  
height: 30em;
}

.contact{
  top:15em;
  left:6em;
}
.contact h1{
  font-size: 4em;
}
.contact .email{
  font-size: 3.5em;
}

.contact li{
  display: block;
  padding: 2em;
}
.contact li a{
  font-size: 2.5em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 2em;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */



body{
    font-size: 20px;
  }
  header h1{
    font-size: 3em;
    margin-right: 25em;
  }


  nav{
  left:60em;
  top:12em;
  z-index: 100;
}
nav li{
   font-size: 3em;

}
.header-title{
  font-size: 5em;
  top:1em;
  left:1em;
}
.about{position: relative;
      display: flex;
      top:-20em;
}
.about-content{
  left:10em;
}
.about-content p{
  font-size: 3.5em;
  text-align: left;
  width: 25em;
}
.about img{
  margin-left: 1em;
}

.work{
  left:10em;
  top:4em;
  align-items: flex-start;
}
.work .work-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.project img{
width: 32em;  
height: 32em;
}

.contact{
  top:10em;
  left:8em;
}
.contact h1{
  font-size: 8em;
}
.contact .email{
  font-size: 5em;
}

.contact li a{
  font-size: 4em;
  padding: 1em;
}
.footer{
  top:4em;
  padding: 1em;
  font-size: 4em;
}


}
